@*@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor


@{
    ViewData["Title"] = "Chat";
    Layout = "~/Views/Shared/_Layout.cshtml";
    HttpContext httpContext = HttpContextAccessor.HttpContext;
    string userName = httpContext.Session.GetString("UserName");
}*@

<h1>Chat</h1>

<div class="container">
    <div class="row p-1">
        <div class="col-1">User</div>
        <div class="col-5"><input type="text" id="userInput" /></div>
    </div>
    <div class="row p-1">
        <div class="col-1">Message</div>
        <div class="col-5"><input type="text" class="w-100" id="messageInput" /></div>
    </div>
    <div class="row p-1">
        <div class="col-6 text-end">
            <input type="button" id="sendButton" value="Send Message" />
        </div>
    </div>
    <div class="row p-1">
        <div class="col-6">
            <hr />
        </div>
    </div>
    <div class="row p-1">
        <div class="col-6">
            <ul id="messagesList"></ul>
        </div>
    </div>
</div>

<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script>
    "use strict";
    var connection = new signalR.HubConnectionBuilder().withUrl("/chatHub").build();
    //Disable send button until connection is established
    document.getElementById("sendButton").disabled = true;
    //khởi động kết nối
    connection.start().then(function () {
        document.getElementById("sendButton").disabled = false;
        // lấy lịch sử chát với người dùng
        connection.invoke("HistoryChat", "doanhuyxh2@gmail.com").catch(function (err) {
            console.error(err.toString());
        });
    }).catch(function (err) {
        return console.error(err.toString());
    });

    connection.on("ReceiveMessage", function (user, message) {
        var li = document.createElement("li");
        document.getElementById("messagesList").appendChild(li);
        user = "doanhuyxh2@gmail.com";
        // We can assign user-supplied strings to an element's textContent because it
        // is not interpreted as markup. If you're assigning in any other way, you
        // should be aware of possible script injection concerns.
        li.textContent = `${user} says ${message}`;
    });

    connection.on("ReceiveMessageAdmin", function (user, message) {
        var li = document.createElement("li");
        document.getElementById("messagesList").appendChild(li);
        // We can assign user-supplied strings to an element's textContent because it
        // is not interpreted as markup. If you're assigning in any other way, you
        // should be aware of possible script injection concerns.
        li.style.color = "red";
        li.textContent = `${user} says ${message}`;
    });

    connection.on("ReceiveMessageHistory", function (history) {
        history.forEach(item => {
            var li = document.createElement("li");
            document.getElementById("messagesList").appendChild(li);
            if (item.fromUser == 9) {
                li.style.color = 'red';
                li.textContent = `${item.content}`;
            }
            li.textContent = `${item.content}`;
        })

    });

    document.getElementById("sendButton").addEventListener("click", function (event) {
        var user = "doanhuyxh2@gmail.com" //document.getElementById("userInput").value;
        var message = document.getElementById("messageInput").value;
        connection.invoke("SendMessage", user, message).catch(function (err) {
            return console.error(err.toString());
        });
        event.preventDefault();
    });
</script>