
@{
    ViewData["Title"] = "Home Page";
}
<div id="Vue_BangMain">
   
    <!-- Button trigger modal -->


    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Mua tài khoản</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div>
                        <label>Tên mua</label>
                        <input type="text" readonly id="nguoiBan" v-model="nguoiBan"/>
                        <label for="quantity">Số lượng:</label>
                        <input type="number" id="quantity" v-model="quantity">
                        <label for="price">Giá:</label>
                        <input type="hidden" id="GiaCa" v-model="GiaCa" readonly>
                        <input type="text" id="formattedGiaCa" v-model="formattedGiaCa" readonly>
                        <p>Tổng tiền: {{ formattedTotal }}</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" v-on:click="getItem">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="BanModal" tabindex="-1" aria-labelledby="BanModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="BanModalLabel">Bán tài khoản</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div>
                        <label>Tên mua</label>
                        <input type="text" readonly id="nguoiBan" v-model="nguoiBan" />
                        <label for="quantity">Số lượng:</label>
                        <input type="number" id="quantity" v-model="quantity">
                        <label for="price">Giá:</label>
                        <input type="hidden" id="GiaCa" v-model="GiaCa" readonly>
                        <input type="text" id="formattedGiaCa" v-model="formattedGiaCa" readonly>
                        <p>Tổng tiền: {{ formattedTotal }}</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" v-on:click="getItemBan">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <span>
        Tiền đang có:{{ new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(tienDangCo) }}
    </span>
    <span>
        Điểm đang có:{{ SoDiemCo }} điểm
    </span>
    <button data-bs-toggle="modal" data-bs-target="#staticBackdrop1" type="button" class="btn btn-primary">Nạp tiền</button>

    <table id="GetData" class="table table-bordered text-center">
        <thead>
            <tr>
                <th>Id</th>
                <th>Tên người bán</th>
                <th>Giá bán</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="item in DataUser" :key="item.id">
                <td>{{ item.id}}</td>
                <td>{{ item.nguoiBan}}</td>
                <td>
                    {{ new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(item.giaCa) }}
                </td>
                <td>
                    <button class="btn btn-success" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" v-on:click=" getIdBang(item.id)">Mua</button>

                </td>
                <td>
                    <button class=" btn btn-danger" type="button" data-bs-toggle="modal" data-bs-target="#BanModal" v-on:click=" getIdBang(item.id)">Bán</button>

                </td>
                </tr>
            

        </tbody>
    </table>
    <div class="modal fade" id="staticBackdrop1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel1" aria-hidden="true">
        <div class="modal-dialog  modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Nạp tiền vào tài khoản</h4>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4">
                            <label class="form-label">Chọn ngân hàng</label>
                            <select class="form-select" aria-label="Default select example" v-model="selectedBank">
                                <option value="" disabled>Chọn ngân hàng chuyển</option>
                                <option v-for="(items, index) in bankData" :value="items">{{ items.bankName }}</option>
                            </select>
                            <div v-if="selectedBank">
                                <div>
                                    <label class="form-label">Số tài khoản</label>
                                    <input class="form-control" v-model="selectedBank.taiKhoanBank" readonly />
                                </div>
                                <div>
                                    <label class="form-label">Chủ tài khoản</label>
                                    <input class="form-control" v-model="selectedBank.tenTaiKhoan" readonly />

                                </div>
                                <div>
                                    <label class="form-label">Số tiền nạp</label>
                                    <input class="form-control" id="SoTienNap" v-model="soTienNap" :value="soTienNap"  />

                                </div>
                            </div>

                        </div>
                        <div class="col-md-4" v-if="selectedBank">
                            <div class="d-flex flex-column align-items-center">
                                <button class="btn btn-success text-center mb-2" v-on:click="generateRandomCode" :disabled="buttonDisabled">Tạo code</button>
                                <input class="form-control mb-2" style="width: fit-content" v-model="randomCode" readonly />
                                <div class="waiting text-center" v-if="waitingMessage && countdownTimer !== null">
                                    <div style="margin: 20px;"> Code sẽ hết hạn sau <br /> {{ countdownTimer }} giây </div>


                                </div>
                            </div>
                        </div>
                        <div class="col-md-4" v-if="selectedBank">
                            <div class="waiting text-center d-flex flex-column align-items-center">
                                @*<div style="margin: 20px;"> Ghi chú:  <br /> Code này sẽ là nội dung chuyển khoản</div>
                                <div style="border: 1px solid; width:20px"></div>
                                <div style="margin: 20px;">Quyền lợi vip: <br /> Đăng ký vip sẽ tăng mức cược </div>*@
                                <img style="width:50%" src="~/unnamed.png" />
                                <span v-model="selectedBank.taiKhoanBank" class="text-center">Số tài khoản: {{selectedBank.taiKhoanBank}}</span>
                                <span v-model="selectedBank.tenTaiKhoan" class="text-center">Tên tài khoản:{{selectedBank.tenTaiKhoan}}</span>
                                <span v-model="randomCode" v-if="TokenClick">Nội dung: {{randomCode}} </span>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-bs-dismiss="modal">Đóng</button>
                    <button type="button" class="btn btn-primary" >Đã chuyển</button>
                </div>
            </div>
        </div>
    </div>
</div>
<a href="~/Home/Logout" class="btn btn-danger">Đăng xuất</a>

<script src="~/js/bangmain_vuejs/bangmain_crud.js"></script>