﻿@model Khach155.Models.DataUserViewModel.DataUserCRUDViewModels
@{
	ViewData["Title"] = "Đăng ký thành viên";

}
<span class="text-danger">@ViewBag.UserName</span>

<form class="login100-form validate-form" asp-controller="Home" asp-action="Register" method="post">
	<span class="login100-form-title">
		Đăng ký thành viên
	</span>
	@*data-validate="Valid email is required: ex@abc.xyz"
	data-validate="Password is required"*@
	<input type="hidden" name="TienDangCo" asp-for="TienDangCo" id="TienDangCo" value="0">

	<div class="wrap-input100 validate-input">
		<input class="input100" type="text" name="UserName" placeholder="Email" asp-for="UserName" id="NameUser">
		<span class="focus-input100"></span>
		<span class="symbol-input100">
			<i class="fa fa-envelope" aria-hidden="true"></i>
		</span>


	</div>
	<span asp-validation-for="UserName" class="text-danger"></span>

	<div class="wrap-input100 validate-input">
		<input class="input100" type="password" name="Password" asp-for="Password" id="Password" placeholder="Password">
		<span class="focus-input100"></span>
		<span class="symbol-input100">
			<i class="fa fa-lock" aria-hidden="true"></i>
		</span>

	</div>
	<span asp-validation-for="Password" class="text-danger"></span>

	<div class="wrap-input100 validate-input">
		<input class="input100" type="password" name="ConfirmPassword" asp-for="ConfirmPassword" id="ConfirmPassword" placeholder="ConfirmPassword">
		<span class="focus-input100"></span>
		<span class="symbol-input100">
			<i class="fa fa-lock" aria-hidden="true"></i>
		</span>
		<span asp-validation-for="ConfirmPassword" class="text-danger"></span>

	</div>

	<div class="container-login100-form-btn">
		<button class="login100-form-btn" type="submit">
			Đăng ký
		</button>
	</div>

	<div class="text-center p-t-12">
		<span class="txt1">
			Quên mật khẩu
		</span>
		<a class="txt2" href="#">
			Username / Password?
		</a>
	</div>

	<div class="text-center p-t-136">
		<a class="txt2" href="~/Home/Login">
			Bạn đã có tài khoản
			<i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
		</a>
	</div>
</form>
