@{
    ViewData["Title"] = "Hỗ trợ";
}

<div class="container w-25 mt-3">
    <form>
        <div class="mb-3">
            <label class="form-label">Họ và tên</label>
            <input type="text" class="form-control">
        </div>
        <div class="mb-3">
            <label class="form-label">Số điện thoại</label>
            <input type="text" class="form-control">
        </div>
        <div class="mb-3">
            <label class="form-label">Email</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">Chúng tôi sẽ không chia sẻ email của bạn cho bất kỳ ai.</div>
        </div><div class="mb-3">
            <label class="form-label">Thắc mắc của bạn</label>
            <textarea class="form-control"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Gửi ngay</button>
    </form>
</div>

<script src="~/js/bangmain_vuejs/bangmain_crud.js"></script>