﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Daay la admin</h1>
<div id="Admin_fb">
    <button class="btn btn-success" v-on:click="AddNewItems">Thêm mới sản phẩm</button>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Tên người dùng</th>
                <th>Giá đã mua</th>
                <th>Tên đã mua</th>
                <th>Số lượng mua</th>
                <th>Tiền đã thanh toán</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="items in allMua">
                <td>{{items.tenUser}}</td>
                <td>
                    {{ new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(items.giaMua) }}

                </td>
                <td>{{items.muaCuaAi}}</td>
                <td>{{items.soLuongMua}}</td>
                <td>
                    {{ new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(items.soTienThanhToan) }}

                </td>
            </tr>
        </tbody>
    </table>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Tên người dùng</th>
                <th>Giá đã bán</th>
                <th>Tên đã bán</th>
                <th>Số lượng bán</th>
                <th>Tiền đã thanh toán</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="items in allBan">
                <td>{{items.tenUser}}</td>
                <td>
                    {{ new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(items.giaMua) }}

                </td>
                <td>{{items.muaCuaAi}}</td>
                <td>{{items.soLuongMua}}</td>
                <td>
                    {{ new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(items.soTienThanhToan) }}

                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-bordered  text-center" id="hoSo_xuLy">
        <thead>
            <tr>
                <th>
                    Tên người dùng
                </th>
                <th>
                    Mã giao dịch
                </th>
                <th>
                    Số Tiền cần nạp
                </th>
                <th>
                    Code nội dung
                </th>
                <th>
                    Trạng thái giao dịch
                </th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="user in userNap" :key="user.ID" class="text-center">
                <td>
                    {{user.tenUserDisplay}}
                </td>
                <td>
                    {{user.id}}
                </td>
                <td>
                    {{ new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(user.soTienNap) }}

                </td>
                <td>
                    {{user.codeLenh}}

                </td>
                <td>
                    @*"*@
                    <div v-on:click="handleTransaction(user)" v-bind:class="{ 'btn btn-danger ': !user.trangThaiGiaoDich, 'btn btn-success': user.trangThaiGiaoDich}">
                        <span>
                            {{ user.trangThaiGiaoDich ?   'Đã xử lý' : 'Đang chờ'  }}
                        </span>

                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-bordered text-center" id="hoSo_xuLyRut">
        <thead>
            <tr>
                <th>
                    Tên người dùng
                </th>
                <th>
                    Tên ngân hàng
                </th>
                <th>
                    Số tài khoản
                </th>
                <th>
                    Số tiền rút
                </th>
                <th>
                    Thời gian rút
                </th>
                <th>
                    Trạng thái giao dịch
                </th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="user in userRut" :key="user.id" class="text-center">
                <td>
                    {{user.tenUser}}
                </td>
                <td>
                    {{user.tenBankUser}}
                </td>
                <td>
                    {{user.stkBankUser}}
                </td>
                <td>
                    {{ new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(user.soTienRut) }}

                </td>
                <td>
                    {{ new Date(user.thoiGianRut).toLocaleDateString('en-GB') }}

                </td>
                <td>
                    <div v-on:click="handleRut(user)" v-bind:class="{ 'btn btn-danger ': !user.trangThaiGiaoDich, 'btn btn-success': user.trangThaiGiaoDich}">
                        <span>
                            {{ user.trangThaiGiaoDich ?   'Đã xử lý' : 'Đang chờ'  }}
                        </span>

                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<script src="~/js/adminfb_vuejs/adminfb_crud.js"></script>