@{

}
<h1>Day la admin</h1>
<div id="Admin_fb">
    <button class="btn btn-success" v-on:click="AddNewItems">Thêm mới sản phẩm</button>
</div>
<script src="~/js/adminfb_vuejs/adminfb_crud.js"></script>